// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Home row mods macro
//#define HRML(k1,k2,k3,k4) &ht LGUI k1  &ht LALT k2  &ht LCTRL k3  &ht LSHIFT k4
//#define HRMR(k1,k2,k3,k4) &ht RSHIFT k1  &ht RCTRL k2  &ht RALT k3  &ht RGUI k4

&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <250>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <4>;
            tapping-term-ms = <250>;
            quick_tap_ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };
        td: tapdance {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPDANCE";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    //conditional_layers {
    //    compatible = "zmk,conditional-layers";
    //    tri_layer {
    //        if-layers = <1 2>;
    //        then-layer = <3>;
    //    };
    //};

    combos {
        compatible = "zmk,combos";
        combo_apos {
            key-positions = <2 3 6 7>;
            bindings = <&kp APOS>;
        };
        combo_sqt {
            bindings = <&kp SQT>;
            key-positions = <2 3>;
        };
        combo_equal {
            bindings = <&kp EQUAL>;
            key-positions = <1 2>;
        };
    };



    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
        //╭───────────┬───────────┬───────────┬───────────┬───────────╮   ╭───────────┬───────────┬───────────┬───────────┬───────────╮
        //│   Q       │   W       │   E       │   R       │   T       │   │   Y       │   U       │   I       │   O       │   P       │
        //├───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┤
        //│   V       │   S       │   D       │   F       │   G       │   │   H       │   J       │   K       │   L       │  ; :      │
        //├───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┤
        //│   Z       │   X       │   C       │   A       │   B       │   │   N       │   M       │  , <      │  . >      │  / ?      │
        //╰───────────┴───────────┴───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┴───────────┴───────────╯
        //                                    ╰───────────┴───────────╯   ╰───────────┴───────────╯
        //    &kp Q         &kp W       &kp E       &kp R       &kp T           &kp Y       &kp U       &kp I      &kp O        &kp P
        //    &kp V         HRML(S,     D,          F,          G)              HRMR(H,     J,          K,         L)           &kp SEMI
        //    &kp Z         &kp X       &kp C       &kp A       &kp B           &kp N       &kp M       &kp COMMA  &kp DOT      &kp FSLH
        //                                          &lt 1 TAB   &kp ENTER       &kp SPACE   &lt 2 BSPC
              &kp Q         &kp W           &kp E            &kp R          &kp T         &mt LC(S) Y     //&mt LG(LS(S)) U     &mt LG(LS(N5)) I     &kp O         &kp P
              //&kp V         &hm LCTRL S     &hm LSHIFT D     &hm LALT F     &hm LGUI G    &hm RGUI H             &hm RALT J          &hm RSHIFT K         &hm RCTRL     &kp SEMI
              &kp Z         &kp X           &kp C            &kp A          &kp B         &kp N                  &kp M               &kp COMMA            &kp DOT       &kp FSLH
                                                             &lt 3 TAB      &kp ENTER     &kp SPACE              &lt 4 BSPC
            >;
        };

        right_layer {
            bindings = <
        //╭───────────┬───────────┬───────────┬───────────┬───────────╮   ╭───────────┬───────────┬───────────┬───────────┬───────────╮
        //│ INS       │           │   ▲       │ PG DOWN   │ PG UP     │   │   *       │   1       │   2       │   3       │           │
        //├───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┤
        //│ DEL       │   ◄       │   ▼       │   ►       │ CAPS      │   │   +       │   4       │   5       │   6       │           │
        //├───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┤
        //│           │           │           │ HOME      │ END       │   │   -       │   7       │   8       │   9       │  0        │
        //╰───────────┴───────────┴───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┴───────────┴───────────╯
        //                                    |           | ESC       |   |           |           |
        //                                    ╰───────────┴───────────╯   ╰───────────┴───────────╯
            &kp INS      &trans     &kp UARW    &kp PG_DN   &kp PG_UP      &kp ASTERISK   &kp N1      &kp N2      &kp N3     &trans
            &kp DEL      &kp LARW   &kp DARW    &kp RARW    &kp CAPS       &kp PLUS       &kp N4      &kp N5      &kp N6     &trans
            &trans       &trans     &trans      &kp HOME    &kp END        &kp MINUS      &kp N7      &kp N8      &kp N9     &kp N0
                                                &trans      &kp ESC        &trans         &trans
                    >;
        };

        left_layer {
            bindings = <
        //╭───────────┬───────────┬───────────┬───────────┬───────────╮   ╭───────────┬───────────┬───────────┬───────────┬───────────╮
        //│ F1        │ F2        │ F3        │    [      │    ]      │   │   ^       │   &       │   F10     │   F11     │  ~        │
        //├───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┤
        //│ F4        │ F5        │ F6        │    (      │    )      │   │   !       │   @       │   #       │   $       │  %        │
        //├───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┤
        //│ F7        │ F8        │ F9        │    {      │    }      │   │   _       │   |       │   F12     │           │  \        │
        //╰───────────┴───────────┴───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┴───────────┴───────────╯
        //                                    |           |           |   |           |           |
        //                                    ╰───────────┴───────────╯   ╰───────────┴───────────╯
            &kp F1      &kp F2      &kp F3      &kp LBKT    &kp RBKT        &kp CARET   &kp AMPS    &kp F10     &kp F11     &kp TILDE
            &kp F4      &kp F5      &kp F6      &kp LPAR    &kp RPAR        &kp EXCL    &kp AT      &kp HASH    &kp DLLR    &kp PRCNT
            &kp F7      &kp F8      &kp F9      &kp LBRC    &kp RBRC        &kp UNDER   &kp PIPE    &kp F12     &trans      &kp BSLH
                                                &trans      &trans          &trans      &trans
            >;
        };

        tri_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ RESET    │          │          │          │PROFILE 0 │   │          │          │          │          │  RESET   │
           &sys_reset  &trans     &trans     &trans    &bt BT_SEL 0    &trans     &trans     &trans     &trans    &sys_reset
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│BOOTLOADER│          │          │          │PROFILE 1 │   │          │          │          │          │BOOTLOADER│
          &bootloader  &trans     &trans     &trans    &bt BT_SEL 1    &trans     &trans     &trans     &trans    &bootloader
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │ CLEAR BT │PROFILE 2 │   │          │          │          │          │          │
            &trans     &trans     &trans    &bt BT_CLR &bt BT_SEL 2    &trans     &trans     &trans     &trans     &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
    };
};
